.khan {
  background-color: #f2f2f2;
  padding: 100px 0;
  margin-top: 100px;
}

.khan_container {
  width: 80%;
  margin: 0 auto;
}

.khan_author {
  line-height: 42px;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.khan_title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

.khan_quote {
  width: 790px;
  margin-top: 50px;
  line-height: 34px;
  font-size: 24px;
}

.khan_quote_author {
  margin-top: 36px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.khan_quote_author_subline {
  margin-top: 10px;
  line-height: 1.15;
  font-size: 24px;
}

.khan_book_container {
  margin-top: 68px;
  display: flex;
  flex-direction: row;
  height: 620px;
  width: 608px;
  overflow: hidden;
}

.khan_buy_link {
  margin-left: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
}
