.oakley {
  background-color: #f2f2f2;
  margin-top: -100px;
  padding: 160px 0 100px 0;
}

.two__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.two__columns--brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin-top: 0;
}

.two__columns--main-text {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 60%;
}

.paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}
